/* line 4, assets/style/sass/style.scss */
.map {
  width: 400px;
  margin: auto;
  padding-bottom: 0px;
  float: left;
  margin-left: 200px;
}
@media only screen and (max-width: 400px) {
  /* line 4, assets/style/sass/style.scss */
  .map {
    margin-left: 70px;
    width: 250px;
  }
}
/* line 15, assets/style/sass/style.scss */
.map img {
  max-width: 200px;
  height: 157px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
@media only screen and (max-width: 400px) {
  /* line 15, assets/style/sass/style.scss */
  .map img {
    max-width: 113px;
    height: auto;
  }
}
/* line 23, assets/style/sass/style.scss */
.map img.hit {
  z-index: 99;
}
/* line 25, assets/style/sass/style.scss */
.map img.hit:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* line 33, assets/style/sass/style.scss */
.one {
  z-index: 1000;
}

/* line 37, assets/style/sass/style.scss */
.smallerbody .reproductive {
  z-index: 999;
  margin-left: -60px;
}
@media only screen and (max-width: 400px) {
  /* line 37, assets/style/sass/style.scss */
  .smallerbody .reproductive {
    margin-left: -36px;
    width: 76px;
  }
}

/* line 50, assets/style/sass/style.scss */
.three {
  margin-left: -94px;
}
@media only screen and (max-width: 400px) {
  /* line 50, assets/style/sass/style.scss */
  .three {
    width: 77px;
    margin-left: -53px;
  }
}

/* line 58, assets/style/sass/style.scss */
.four {
  margin-left: -26px;
}
@media only screen and (max-width: 400px) {
  /* line 58, assets/style/sass/style.scss */
  .four {
    margin-left: -15px;
  }
}

/* line 64, assets/style/sass/style.scss */
.five {
  margin-left: -33px;
}
@media only screen and (max-width: 400px) {
  /* line 64, assets/style/sass/style.scss */
  .five {
    width: 77px;
    margin-left: -22px;
  }
}

@media only screen and (max-width: 400px) {
  /* line 71, assets/style/sass/style.scss */
  .ed {
    width: 75px;
  }
}

/* line 78, assets/style/sass/style.scss */
.six {
  margin-left: 27px;
}
@media only screen and (max-width: 400px) {
  /* line 78, assets/style/sass/style.scss */
  .six {
    width: 43px;
    margin-left: 14px;
  }
}

/* line 86, assets/style/sass/style.scss */
.arthristis {
  margin-left: 83px;
}
@media only screen and (max-width: 400px) {
  /* line 86, assets/style/sass/style.scss */
  .arthristis {
    width: 61px;
    margin-left: 42px;
  }
}

/* line 94, assets/style/sass/style.scss */
.seven {
  margin-left: 16px;
}
@media only screen and (max-width: 400px) {
  /* line 94, assets/style/sass/style.scss */
  .seven {
    width: 65px;
  }
}

/* line 102, assets/style/sass/style.scss */
.eight {
  margin-left: -4px;
  margin-top: -1px;
  margin-bottom: 3px;
}

/* line 107, assets/style/sass/style.scss */
.nine {
  margin-left: 27px;
  margin-top: -1px;
  margin-bottom: 3px;
}

/* line 112, assets/style/sass/style.scss */
.ten {
  margin-left: -3px;
}

/* line 115, assets/style/sass/style.scss */
.eleven {
  margin-left: 14px;
}
@media only screen and (max-width: 400px) {
  /* line 115, assets/style/sass/style.scss */
  .eleven {
    margin-left: 15px;
  }
}

/* line 122, assets/style/sass/style.scss */
.over {
  margin-left: 90px;
}
@media only screen and (max-width: 400px) {
  /* line 122, assets/style/sass/style.scss */
  .over {
    margin-left: 41px;
  }
  /* line 126, assets/style/sass/style.scss */
  .over img {
    width: 48px;
  }
}

/* line 131, assets/style/sass/style.scss */
.out {
  margin-left: 79px;
}
@media only screen and (max-width: 400px) {
  /* line 131, assets/style/sass/style.scss */
  .out {
    margin-left: 36px;
  }
  /* line 135, assets/style/sass/style.scss */
  .out img {
    width: 48px;
  }
}

/* line 141, assets/style/sass/style.scss */
.smallerbody {
  width: 860px;
  margin-left: -90px;
}
@media only screen and (max-width: 400px) {
  /* line 141, assets/style/sass/style.scss */
  .smallerbody {
    width: 330px !important;
    margin-left: -58px !important;
    margin-top: -2px;
  }
  /* line 148, assets/style/sass/style.scss */
  .smallerbody img {
    max-width: 113px;
    height: auto;
  }
}

/* line 159, assets/style/sass/style.scss */
#map {
  position: relative;
}
/* line 160, assets/style/sass/style.scss */
#map p
h2, #map h3 {
  font-family: "Raleway",Helvetica,Arial,sans-serif;
  font-weight: 600;
}
/* line 166, assets/style/sass/style.scss */
#map h3 {
  color: #0DBDEE;
}

/* line 170, assets/style/sass/style.scss */
.body {
  z-index: 1000;
  position: absolute;
  width: 300px;
  color: #ffffff !important;
  font-size: 16px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
@media only screen and (max-width: 400px) {
  /* line 170, assets/style/sass/style.scss */
  .body {
    top: 450px !important;
    left: 12px !important;
    right: auto !important;
  }
  /* line 176, assets/style/sass/style.scss */
  .body .css-shapes-preview {
    display: none !important;
  }
}
/* line 180, assets/style/sass/style.scss */
.body.off {
  display: none;
}
/* line 183, assets/style/sass/style.scss */
.body.on {
  display: block;
}
/* line 195, assets/style/sass/style.scss */
.body .d {
  z-index: 1000;
  position: relative;
}
/* line 196, assets/style/sass/style.scss */
.body .d h1 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}
/* line 202, assets/style/sass/style.scss */
.body .d img {
  text-align: center;
  margin: auto;
  max-width: 100%;
}
/* line 211, assets/style/sass/style.scss */
.body#head {
  top: 196px;
  right: 175px;
  background: #1D536F;
}
/* line 215, assets/style/sass/style.scss */
.body#head .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 32px;
  left: -21px;
  -webkit-transform: rotate(34deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid #1D536F;
  border-bottom: 100px solid transparent;
}
/* line 228, assets/style/sass/style.scss */
.body#oralhealth {
  top: 196px;
  right: 175px;
  background: #1D536F;
}
/* line 232, assets/style/sass/style.scss */
.body#oralhealth .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 32px;
  left: -21px;
  -webkit-transform: rotate(34deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid #1D536F;
  border-bottom: 100px solid transparent;
}
/* line 245, assets/style/sass/style.scss */
.body#arthristis {
  top: 930px;
  left: -50px;
  background: #82d5f5;
}
/* line 249, assets/style/sass/style.scss */
.body#arthristis .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 132px;
  left: 50px;
  -webkit-transform: rotate(3deg) skew(116deg);
  transform: rotate(3deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid  #82d5f5;
  border-bottom: 100px solid transparent;
}
/* line 262, assets/style/sass/style.scss */
.body#ed {
  top: 780px;
  right: 185px;
  background: #1D536F;
}
/* line 266, assets/style/sass/style.scss */
.body#ed .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 32px;
  left: -21px;
  -webkit-transform: rotate(34deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid #1D536F;
  border-bottom: 100px solid transparent;
}
/* line 279, assets/style/sass/style.scss */
.body#adult-blindness {
  top: 207px;
  left: -59px;
  background: #0cbfef;
}
/* line 284, assets/style/sass/style.scss */
.body#adult-blindness .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 34px;
  left: 100px;
  z-index: 99;
  -webkit-transform: rotate(3deg) skew(116deg);
  transform: rotate(3deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid #0cbfef;
  border-bottom: 100px solid transparent;
}
/* line 299, assets/style/sass/style.scss */
.body#substance {
  top: 900px;
  right: 175px;
  background: #1D536F;
}
/* line 304, assets/style/sass/style.scss */
.body#substance .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 32px;
  left: -21px;
  -webkit-transform: rotate(34deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid #1D536F;
  border-bottom: 100px solid transparent;
}
/* line 317, assets/style/sass/style.scss */
.body#heart {
  top: 300px;
  right: 174px;
  background: #527ea0;
}
/* line 322, assets/style/sass/style.scss */
.body#heart .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 100px;
  left: -21px;
  -webkit-transform: rotate(214deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid  #527ea0;
  border-bottom: 100px solid transparent;
}
/* line 335, assets/style/sass/style.scss */
.body#chest {
  top: 275px;
  left: -67px;
  background: #527ea0;
}
/* line 340, assets/style/sass/style.scss */
.body#chest .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 158px;
  left: 100px;
  -webkit-transform: rotate(3deg) skew(116deg);
  transform: rotate(3deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid #527ea0;
  border-bottom: 100px solid transparent;
}
/* line 353, assets/style/sass/style.scss */
.body#cancer {
  top: 450px;
  left: -50px;
  background: #7aa2d1;
}
/* line 358, assets/style/sass/style.scss */
.body#cancer .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 64px;
  left: 100px;
  -webkit-transform: rotate(3deg) skew(116deg);
  transform: rotate(3deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid #7aa2d1;
  border-bottom: 100px solid transparent;
}
/* line 372, assets/style/sass/style.scss */
.body#diabetes {
  top: 420px;
  right: 150px;
  background: #3984c0;
}
/* line 377, assets/style/sass/style.scss */
.body#diabetes .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 100px;
  left: -21px;
  -webkit-transform: rotate(214deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid #3984c0;
  border-bottom: 100px solid transparent;
}
/* line 391, assets/style/sass/style.scss */
.body#know {
  top: 196px;
  right: 175px;
  background: #1D536F;
}
/* line 395, assets/style/sass/style.scss */
.body#know .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 200px;
  left: 134px;
  -webkit-transform: rotate(3deg) skew(116deg);
  transform: rotate(3deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid #1D536F;
  border-bottom: 100px solid transparent;
}
/* line 409, assets/style/sass/style.scss */
.body#reproductive {
  top: 550px;
  left: -97px;
  background: #7aa2d1;
}
/* line 413, assets/style/sass/style.scss */
.body#reproductive .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 34px;
  left: 164px;
  -webkit-transform: rotate(25deg) skew(116deg);
  transform: rotate(25deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid #7aa2d1;
  border-bottom: 100px solid transparent;
}
/* line 426, assets/style/sass/style.scss */
.body#women {
  top: 631px;
  left: -90px;
  background: #0EBFED;
}
/* line 430, assets/style/sass/style.scss */
.body#women .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 200px;
  left: 134px;
  -webkit-transform: rotate(3deg) skew(116deg);
  transform: rotate(3deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid  #0EBFED;
  border-bottom: 100px solid transparent;
}
/* line 444, assets/style/sass/style.scss */
.body#youth {
  top: 750px;
  right: 171px;
  background: #A1E6F8;
}
/* line 448, assets/style/sass/style.scss */
.body#youth .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 200px;
  left: -21px;
  -webkit-transform: rotate(214deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid #A1E6F8;
  border-bottom: 100px solid transparent;
}
/* line 462, assets/style/sass/style.scss */
.body#ecigs {
  top: 800px;
  right: 175px;
  background: #379DA2;
}
/* line 467, assets/style/sass/style.scss */
.body#ecigs .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 100px;
  left: 150px;
  -webkit-transform: rotate(33deg) skew(116deg);
  transform: rotate(3deg) skew(116deg);
  border-top: 10px solid transparent;
  border-right: 200px solid #379DA2;
  border-bottom: 100px solid transparent;
}
/* line 480, assets/style/sass/style.scss */
.body#health {
  top: 900px;
  right: 175px;
  background: #3984C0;
}
/* line 485, assets/style/sass/style.scss */
.body#health .css-shapes-preview {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 200px;
  left: -21px;
  -webkit-transform: rotate(214deg) skew(116deg);
  transform: rotate(214deg) skew(116deg);
  border-top: 100px solid transparent;
  border-right: 200px solid #3984C0;
  border-bottom: 100px solid transparent;
}

/* line 501, assets/style/sass/style.scss */
.hit {
  cursor: pointer;
}

/* line 505, assets/style/sass/style.scss */
.close {
  color: #ffffff;
  float: right;
  text-shadow: none;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  font-size: 50px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}

/* line 518, assets/style/sass/style.scss */
.icons {
  float: right;
}
/* line 520, assets/style/sass/style.scss */
.icons ul {
  padding: 0;
}
/* line 522, assets/style/sass/style.scss */
.icons ul li {
  display: block;
  text-align: right;
}
@media only screen and (max-width: 675px) {
  /* line 522, assets/style/sass/style.scss */
  .icons ul li {
    display: inline-block;
  }
}
/* line 528, assets/style/sass/style.scss */
.icons ul li img {
  max-height: 76px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 532, assets/style/sass/style.scss */
.icons ul li img.hit:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* line 541, assets/style/sass/style.scss */
.clear {
  clear: both;
}

/* line 545, assets/style/sass/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 552, assets/style/sass/style.scss */
.fourit img {
  width: 100px;
}

/* line 557, assets/style/sass/style.scss */
.css-shapes-preview {
  z-index: 99;
}

/* line 561, assets/style/sass/style.scss */
.sidebar.mgrid-full.tgrid-1-3 {
  top: 230px;
  position: absolute;
  right: 50px;
}
/* line 565, assets/style/sass/style.scss */
.sidebar.mgrid-full.tgrid-1-3 ul {
  width: 300px;
}
@media only screen and (max-width: 990px) {
  /* line 565, assets/style/sass/style.scss */
  .sidebar.mgrid-full.tgrid-1-3 ul {
    width: auto;
  }
}
@media only screen and (max-width: 990px) {
  /* line 561, assets/style/sass/style.scss */
  .sidebar.mgrid-full.tgrid-1-3 {
    position: relative;
    top: auto;
    right: auto;
  }
}

/* line 579, assets/style/sass/style.scss */
.module {
  width: 300px;
}
@media only screen and (max-width: 990px) {
  /* line 579, assets/style/sass/style.scss */
  .module {
    width: auto;
  }
}

/* line 585, assets/style/sass/style.scss */
.smallerbody {
  width: 860px;
  margin-left: -90px;
}

@media only screen and (max-width: 400px) {
  /* line 591, assets/style/sass/style.scss */
  .page-title {
    font-size: 3.3em;
  }

  /* line 594, assets/style/sass/style.scss */
  h2 {
    font-size: 1.3em;
  }

  /* line 597, assets/style/sass/style.scss */
  .grid {
    padding: 20px;
    overflow: hidden;
  }

  /* line 602, assets/style/sass/style.scss */
  #map h3 {
    margin-top: -13px !important;
  }

  /* line 607, assets/style/sass/style.scss */
  .map {
    margin-left: 58px;
  }
  /* line 609, assets/style/sass/style.scss */
  .map img {
    max-width: 100%;
  }

  /* line 613, assets/style/sass/style.scss */
  .smallerbody {
    margin-top: 0px;
  }
  /* line 615, assets/style/sass/style.scss */
  .smallerbody img {
    max-width: 80px;
  }
  /* line 618, assets/style/sass/style.scss */
  .smallerbody .reproductive {
    width: 53px;
    margin-left: -27px;
  }

  /* line 623, assets/style/sass/style.scss */
  .four {
    margin-left: 2px !important;
    margin-right: -5px;
    margin-top: -5px !important;
  }

  /* line 628, assets/style/sass/style.scss */
  .two {
    max-width: 81px;
    height: 66px !important;
  }

  /* line 632, assets/style/sass/style.scss */
  .three {
    width: 57px;
    margin-left: -40px;
  }

  /* line 636, assets/style/sass/style.scss */
  .five {
    width: 52px;
    margin-left: -10px;
  }

  /* line 640, assets/style/sass/style.scss */
  .ed {
    width: 52px;
    margin-top: 1px;
  }

  /* line 644, assets/style/sass/style.scss */
  .six {
    width: 30px;
    margin-left: 9px;
  }

  /* line 648, assets/style/sass/style.scss */
  .arthristis {
    width: 40px;
    margin-left: 34px;
  }

  /* line 652, assets/style/sass/style.scss */
  .seven {
    width: 43px;
    margin-left: 9px;
  }

  /* line 656, assets/style/sass/style.scss */
  .out {
    margin-left: 26px;
    margin-top: -1px;
  }
  /* line 659, assets/style/sass/style.scss */
  .out img {
    width: 36px;
    height: 56px;
  }

  /* line 664, assets/style/sass/style.scss */
  .over {
    margin-left: 30px;
    margin-top: -2px;
  }
  /* line 667, assets/style/sass/style.scss */
  .over img {
    width: 33px !important;
  }

  /* line 671, assets/style/sass/style.scss */
  .eight {
    width: 34px !important;
    margin-left: -3px;
    margin-top: 1px;
    margin-bottom: 3px;
  }

  /* line 677, assets/style/sass/style.scss */
  .nine {
    width: 33px !important;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 3px;
  }

  /* line 684, assets/style/sass/style.scss */
  .one {
    margin-left: 13px;
  }

  /* line 687, assets/style/sass/style.scss */
  .four {
    margin-left: -2px;
  }

  /* line 690, assets/style/sass/style.scss */
  .eleven {
    margin-left: 10px;
    height: 57px;
  }

  /* line 695, assets/style/sass/style.scss */
  .icons {
    padding-left: 5px;
    padding-top: 20px;
  }
  /* line 700, assets/style/sass/style.scss */
  .icons ul li img {
    max-height: 60px;
  }

  /* line 706, assets/style/sass/style.scss */
  .body {
    padding: 20px;
    left: -10px !important;
    top: 25px !important;
    width: 150%;
    margin-left: -15px;
    padding-right: 30px;
    margin-right: -15px;
    padding-bottom: 20px;
    padding-left: 30px;
  }
  /* line 716, assets/style/sass/style.scss */
  .body .d {
    width: 50%;
    margin: auto;
    margin-left: 50px;
    padding-bottom: 25px;
  }
  /* line 722, assets/style/sass/style.scss */
  .body .d header h1 {
    font-size: 24px;
  }
  /* line 725, assets/style/sass/style.scss */
  .body .d header img {
    max-width: 52px;
  }
  /* line 730, assets/style/sass/style.scss */
  .body .d article p {
    font-size: 14px;
    line-height: 1.3em;
    padding-bottom: 10px;
  }
  /* line 735, assets/style/sass/style.scss */
  .body .d article h1 {
    font-size: 22px;
  }
  /* line 738, assets/style/sass/style.scss */
  .body .d article img {
    max-width: 80px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 746, assets/style/sass/style.scss */
  .four {
    margin-top: -4px;
  }

  /* line 749, assets/style/sass/style.scss */
  .six {
    margin-top: -2px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 400px) {
  /* line 754, assets/style/sass/style.scss */
  .map {
    margin-left: 92px;
  }

  /* line 757, assets/style/sass/style.scss */
  .four, .six {
    margin-top: -4px;
  }

  /* line 760, assets/style/sass/style.scss */
  .eleven {
    height: 56px !important;
  }

  /* line 763, assets/style/sass/style.scss */
  .eight {
    width: 36px !important;
  }

  /* line 766, assets/style/sass/style.scss */
  .out {
    margin-top: 2px;
  }

  /* line 769, assets/style/sass/style.scss */
  .nine {
    height: 58px;
  }
}
